.planes {
  padding: 80px 20px;
  background: #0d0d0d;
  color: #fff;
  text-align: center;
}
.planes h2{
  font-size: 30px;
}

.planes-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.plan-card {
  background: #111;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #222;
  transition: .3s;
}

.plan-card:hover {
  transform: translateY(-5px);
  border-color: #25d366;
}

.plan-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.plan-card p {
  font-size: 14px;
  opacity: .8;
  margin-bottom: 20px;
}

.btn-plan {
  display: inline-block;
  background: #25d366;
  color: #000;
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

.btn-plan:hover {
  background: #1ebe5a;
}

.btn-plan.urgente {
  background: #ff3b3b;
  color: #fff;
}

.btn-plan.urgente:hover {
  background: #e62f2f;
}

